li {
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    margin-left: -3rem;
    margin-right: -0.5rem;
}

input {
    width: 2rem;
    height: 2rem;
    background-color: white;
    vertical-align: middle;
}

.label {
    vertical-align: middle;
    font-size: 2rem;
    margin: 0.5rem;
    margin-left: 1rem;
}

.actions button {
    padding: 0.5rem;
    width: 35%;
    margin: 0.5rem;
    font-family: inherit;
    cursor: pointer;
}

.delete {
    background-color: darkslategrey;
    color: white;
    border: 1px black solid;
    border-radius: 2px;
}


